.items-container {
    width: 80%;
    margin: 3em auto;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
    .items-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 550px) {
    .items-container {
        grid-template-columns: 1fr;
    }
}